body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel', serif;
}

.brand {
	display: inline-block;
	font-size: 24px;
}
.wrapper {
	width: 75%;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.padding {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 12px;
}

.address {
	font-style: normal;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
}

@media all and (min-width: 768px) {

}

@media all and (max-width: 450px){
	
}