body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #236B8E;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel', serif;
}

.brand {
	display: inline-block;
	font-size: 24px;

}

.pure-menu {
	background-color: #F0F8FF;
}

.pure-menu a {
	color: #236B8E;
}

.pure-menu a:hover {
	background-color: #236B8E;
	color: #FFFFFF;
}
.wrapper {
	width: 75%;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.padding {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 12px;
}

.address {
	font-style: normal;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  background-color: #FFFFFF;
}

.banner {
	background: url("images/justice.jpg") no-repeat center center fixed;
	height: 300px;
}

.banner-text {
	color: #FFFFFF;
	font-size: 32px;
	font-weight: bolder;
	text-shadow: #808080 1px 1px 0;
	text-align: center;
	vertical-align: middle;
	line-height: 300px; 
	background-color: rgba(35,107,142,.3)
}

.container-contact {
	background: url("images/building.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
}

.content-contact {
	background-color: rgba(211,211,211,.8);
	display: inline-block;
	padding: 5px;
	position: absolute;
	right: 20%;
	width: 60%;
	top: 10%;
	border-radius: 5px;
}
@media all and (min-width: 768px) {

}

@media all and (max-width: 450px){
	
}