.wrapper {
	width: 75%;
	margin: 0 auto;
}

.center {
	text-align: center;
}

#welcome {
	margin-top: 20px;
	background-image: url("../assets/images/pillars.jpg");
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
/*    width: 100%;*/
    position: relative;
}

.welcome-content {
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	text-shadow: 2px 2px #000000;
}